{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Retirement Home Maps</title>
    
    <!-- Include Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <!-- This is the basic code feel free to add more styless  -->

</head>
<body>   
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Come Home To Exceptional Senior Living.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>Filter by Overal-Rating:</h4>
                <select id="rating-filter">
                    <option value="">Show All Ratings</option>
                    <option value="1.0">1.0</option>
                    <option value="2.0">2.0</option>
                    <option value="3.0">3.0</option>
                    <option value="4.0">4.0</option>
                    <option value="5.0">5.0</option>
                </select>
            </div>
            <div class="col-md-4">
                <h4>Location:</h4>
                <select id="state-filter">
                    <option value="">Show All States</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Center the map -->
                <div id="map-id" style="height: 420px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="col-md-5">
                    <div id="bar"></div>
                </div>
                <div class="col-md-5">
                    <div id="gauge"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="bubble"></div>
            </div>
        </div>
    </div>

    <!-- Include Leaflet JavaScript and your custom JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Thanh_interactiveMaps.js') }}"></script>
</body>
</html>
